<h2>Tasks</h2>
  <%= f.fields_for :tasks, @project_form.tasks do |task_form| %>
    <div class="field">
      <%= task_form.label :task %><br>
      <%= task_form.text_field :name %>
    </div>
  <% end %>