<h2>Answers</h2>
<%= question.fields_for :answers, question.object.answers do |answer| %>
  <div class="field">
    <%= answer.label :content, "Answer" %><br>
    <%= answer.text_field :content %>
  </div>
<% end %>